    <!-- Map Begin -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3912.294510147616!2d106.09555597458137!3d11.313171049065033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310b6b21aa434767%3A0x5bb0a454c7597693!2sFmstyle%20SaiGon!5e0!3m2!1svi!2s!4v1734598840113!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- Map End -->
<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__text">
                    <div class="section-title">
                        <span>Thông tin</span>
                        <h2>Liên hệ với chúng tôi</h2>
                        <p>
                            Như bạn có thể mong đợi từ một công ty bắt đầu như một nhà thầu nội thất cao cấp, chúng tôi chú ý đến từng chi tiết.
                        </p>
                    </div>
                    <ul>
                        <li>
                            <h4>Việt Nam</h4>
                            <p>
                                Tầng 3 - 57 Lê Duẩn, Phường Hải Châu I, Quận Hải Châu, Thành Phố Đà Nẵng <br />+84 909 861 469
                            </p>
                        </li>
                       
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact__form">
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Tên">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Email">
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Tin nhắn"></textarea>
                                <button type="submit" class="site-btn">Gửi tin nhắn</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact End -->